%div.row.userInfo{ 'ng-show' => 'isConnected' }
  .loading.show
    = image_tag 'ajax-loader.gif'
  .content.hide
    .col-xs-6.col-md-2.profile_pic
      %span.thumbnail.profile_pic
        %img{ "ng-src" => "{{userInfo.profile_image_url | stripSrc}}" }
    .col-xs-6.col-md-10
      .row
        .col-xs-12.col-md-12
          %h3.text-left
            {{userInfo.screen_name}}
      .row
        .col-xs-12.col-md-12
          %h4.text-left
            %blockquote{ linkify: 'twitter' }
              {{ userInfo.description }}
      .row
        .col-xs-3.col-md-3
          %a.btn.btn-primary{ type: 'button', "ng-href" => "{{prefixLink('followers')}}" }
            Followers
            %span.badge {{ userInfo.followers_count }}
        .col-xs-3.col-md-3
          %a.btn.btn-primary{ type: 'button', "ng-href" => "{{prefixLink('following')}}" }
            Followers
            %span.badge {{ userInfo.friends_count }}
        .col-xs-6.col-md-6
          %span.glyphicon.glyphicon-link
          %a{ "ng-href" => "{{prefixLink('')}}" } {{prefixLink('')}}

