.row.marketing.tweets{"ng-show" => 'isConnected'}
  .loading
    = image_tag 'ajax-loader.gif'
  .content.hide
    .col-lg-6.col-md-6{ "ng-repeat" => "tweet in newTweets" }
      .row.tweet
        .row
          .col-md-4
            %h4{ linkify: 'twitter' } @{{ tweet.user.screen_name }}
          .col-md-3.col-md-offset-5
            %h5.text-left {{ tweet.user.name }}
        .col-md-2.col-lg-2
          %span.thumbnail.avatar{ href: '#' }
            %img{ "ng-src" => "{{tweet.user.profile_image_url}}" }
        .col-md-10.col-md-10
          %p{ linkify: 'twitter' } {{ tweet.text }}
          .row.share
            .col-md-4
              %span{ "ng-click" => 'retweet(tweet)' }
                %i.glyphicon.glyphicon-retweet{ "ng-class" => "{retweeted: tweet.retweeted}" }
                {{ tweet.retweeted ? "Retweeted" : "Retweet" }}
            .col-md-4
              %span{ href: '#', "ng-click" => 'favorite(tweet)' }
                %i.glyphicon.glyphicon-star{ "ng-class" => "{favorited: tweet.favorited}" }
                {{ tweet.favorited ? "Favorited" : "Favorite" }}
