.row.marketing
  .col-lg-6
    %h4 Subheading
    %p Ankur Goel
  .col-lg-6
    %h4 Subheading
    %p Ankur Goel

  .col-lg-6
    %h4 Something
    %p Something more

    %h4 Something
    %h4 foo bar

