<header>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
      <li role="presentation" ng-show="isConnected" id="logout"><button class="btn btn-danger" ng-click="logout()">Logout</button></li>
    </ul>
  </nav>
</header>