<h3 class="text-muted">Twitter Feed</h3>
<div class="jumbotron loginBox" ng-show="!isConnected">
  <h1>Twitter Feed</h1>
  <p class="lead">Stream your Twitter Feed awesomely.</p>
  <p>
    <span class="btn btn-large btn-success" role="button" ng-click="login()">Sign in with Twitter</span>
  </p>


</div>